/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.php_cs
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
/.php_cs.cache
!/storage/database/
/packages/*
/public/package_*
!/themes/empty
/themes/*
/resources/lang/vi/layout_*.php
/resources/lang/en/layout_*.php
/public/layout/
/resources/views/layout/
/config/config_package*.php
.php_cs.cache
