/node_modules
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.php_cs
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
/.php_cs.cache
!/storage/database/
/public/package_*
!/themes/empty
/themes/*

/resources/lang/vi/layout_*.php
/resources/lang/en/layout_*.php
!/resources/lang/vi/layout_default.php
!/resources/lang/en/layout_default.php


/config/config_package*.php
.php_cs.cache
/composer.lock

/resources/views/layout/
!/resources/views/layout/default/

/public/layout/
!/public/layout/default/
