@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}

.w-100px {
    width: 100px;
}

.w-150px {
    width: 150px;
}

.w-200px {
    width: 200px;
}


.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.sidebar .nav-dropdown.open > .nav-dropdown-items {
    max-height: 1500px;
    text-indent: 5px;
    padding-left: 5px;
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 40px auto;
}

.sk-cube-grid .sk-cube {
    width: 33.33%;
    height: 33.33%;
    background-color: #ffffff;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

.width-check-item {
    width: 50px;
    text-align: center;
}


.table-filter {
    margin-bottom: 10px;
}

.dropdown-filter {
    position: absolute;
    will-change: transform;
    top: 0;
    left: 0;
    transform: translate3d(0px, -355px, 0px);
    min-width: 300px;
    max-width: 100%;
}

.list-group-item {
    padding: 10px;
}

.list-group-item.active a {
    color: #fff;
}

.img-table {
    width: 70px;
    max-height: 70px;
}

.label-info {
    background-color: #5bc0de;
}

.th-category_id, .th-creator_id, .th-created_at, .th-status {
    min-width: 140px;
}

.th-image, .th-view {
    min-width: 100px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-info {
    color: #fff;
}

.label-danger {
    background-color: #d9534f;
}

.label-warning {
    background-color: #f0ad4e;
}

.label-success {
    background-color: #5cb85c;
}

.label-info {
    background-color: #5bc0de;
}

.label-primary {
    background-color: #337ab7;
}

.label-default {
    background-color: #777;
}

.li-sale_order_status {
    background: none;
    border: 0;
    width: 100%;
    text-align: left;
}

.li-sale_order_status:hover {
    background: #0b4d75 !important;
    color: #fff !important;
}

.sale_order_action {
    margin-bottom: 10px;
}

.easy-autocomplete {
    width: 100%;
}

.cursor-pointer {
    cursor: copy !important;
}

.btn-none {
    background: none;
    border: 0;
    border-radius: 0;
    width: 100%;
    padding: 7px 10px;
    text-align: left;
}

.text-ccc {
    color: #ccc !important;
}

.remove-filter {
    background: #fff;
    color: #d9534f;
    width: 16px;
    height: 17px;
    position: relative;
    top: 1px;
    line-height: 18px;
    right: -7px;
    border: 1px solid #4945a4;
    border-left: 0;
}

.nav-link-tab {
    padding: 5px 10px;
    font-size: 12px;
}

.sidebar .nav-link {
    padding: 0.5rem 0.6rem;
}

.btn-bookmark {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.save-to-list {
    position: absolute;
    bottom: -80px;
    right: 100px;
}

.td-remove-format .simple-tree-table-icon {
    display: none;
}

.font10 {
    font-size: 10px;
}

.font12 {
    font-size: 12px;
}

.w50 {
    width: 50px;
}

.inline-block {
    display: inline-block;
}

.status-item-0 {
    -webkit-text-decoration-line: line-through; /* Safari */
    text-decoration-line: line-through;
}
